@font-face {
  font-family: "Viaoda Libre";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/viaoda-libre-v5-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/viaoda-libre-v5-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Yesteryear";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/yesteryear-v9-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/yesteryear-v9-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  overflow-y: hidden;
}

body {
	box-sizing: border-box;
  background: #fff;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
